<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<title>Adding a new user and updating password</title>
<!--/*/ <th:block th:include="fragments/headInc :: headInc"></th:block> /*/-->
</head>
<body>
	<!-- *** START OF HEADER ***  -->
	<header th:replace="fragments/header :: header"> This section
		of the header will be replaced by a fragment header </header>
	<!-- *** END OF HEADER ***  -->

	<!--*** START OF MAIN ***-->
	<div id="heading-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>New Post - Admin</h1>
				</div>
				<div class="col-md-6">
					<ul class="breadcrumb">
						<li><a th:href="@{/admin/}">ADMIN</a></li>
						<li>New Post</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
	<div id="content" class="clearfix">

		<div class="container">

			<div class="row">

				<!-- *** LEFT COLUMN ***			 _________________________________________________________ -->
				<div th:replace="admin/fragments/admin-adverts :: admin-adverts">This
					side menu will be replaced by fragment code</div>
				<!-- END OF LEFT COLUMN -->

				<!-- *** LEFT COLUMN ***
			 _________________________________________________________ -->

                    <div class="col-md-9 clearfix" id="customer-account">

                        <p class="lead">Change your personal details and password here.</p>
                       
                        <div class="box">
                        <div th:if="${success}" class="alert alert-success">success message</div>

                            <div class="heading">
                                <h3 class="text-uppercase">Change password</h3>
                            </div>

                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_old">Old password</label>
                                            <input type="password" class="form-control" id="password_old" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_1">New password</label>
                                            <input type="password" class="form-control" id="password_1" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password_2">Retype new password</label>
                                            <input type="password" class="form-control" id="password_2" />
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Save new password</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.box -->


                        <div class="clearfix">
                            <div class="heading">
                                <h3 class="text-uppercase">Personal details</h3>
                            </div>

                            <form  th:action="@{/admin/user/update}" method="post"
							th:object="${user}"> 	
							<input type="hidden" th:field="*{userId}" />
							<input type="hidden" th:field="*{password}" />
							<input type="hidden" th:field="*{status}" />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
                                            <label for="firstname" >Firstname </label>
                                            <input type="text" class="form-control" th:field="*{firstName}" id="firstname" />
                                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="help-block">Firstname is required</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
                                            <label for="lastname" >Lastname</label>
                                            <input type="text" th:field="*{lastName}" class="form-control" id="lastname" />
                                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="help-block">Lastname is required</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="company">Email</label>
                                            <input type="text" class="form-control" th:field="*{email}" id="company" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="country">Status</label>
                                            <select class="form-control" id="country" th:field="*{status}">
                                            	<option th:value="enabled">Enabled</option>
                                            	<option th:value="disabled">Disabled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="city">LinkedIn</label>
                                            <input type="text" class="form-control" id="city" th:field="*{linkedIn}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="zip">Facebook</label>
                                            <input type="text" class="form-control" id="facebook" th:field="*{facebook}" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="state">Twitter</label>
                                            <input type="text" class="form-control" th:field="*{twitter}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3" th:classappend="${#fields.hasErrors('altEmail')}? 'has-error'">
                                        <div class="form-group">
                                            <label for="country">Email</label>
                                            <input type="text" class="form-control" th:field="*{altEmail}" name="email"/>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('shortBio')}? 'has-error'">
                                            <label for="phone">Short Bio</label>
                                            <textarea name="shortBio" id="" th:field="*{shortBio}" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('fullBio')}? 'has-error'">
                                            <label for="email_account">Full Bio</label>
                                            <textarea name="shortBio" id="" th:field="*{fullBio}" cols="30" rows="10" class="form-control"></textarea>
                                        </div>
                                    </div>
                                     <div class="col-sm-12">
                                        <div class="form-group" th:classappend="${#fields.hasErrors('responsibilities')}? 'has-error'">
                                            <label for="email_account">Responsibilities</label>
                                            <textarea name="shortBio" id="" th:field="*{responsibilities}" cols="30" rows="10" class="form-control"></textarea>
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Save changes</button>

                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->
			</div>
		</div>
	</div>
	<!-- #### JAVASCRIPT FILES ### -->
	<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->

	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$('#datetimepicker1').datetimepicker();

			$('input[maxlength]').maxlength({
				alwaysShow : true,
				threshold : 20,
				warningClass : "label label-success",
				limitReachedClass : "label label-danger"
			});
			$('textarea#textarea').maxlength({
				alwaysShow : true
			});
		});

		/*]]>*/
	</script>
</body>
</html>