<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="headInc">
</head>
<body th:fragment="list">
	<!--*** START OF MAIN ***-->
	<div id="heading-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>All Posts</h1>
					</div>
					<div class="col-md-6">
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li>Latest Posts</li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="container">
				<div class="row">
					<!-- *** LEFT COLUMN ***
			 _________________________________________________________ -->

					<div class="col-md-9" id="blog-listing-medium">
						<section class="post">
							<div class="row">
								<div class="col-md-4">
									<div class="image">
										<a href="blog-post.html"> <img src="img/blog-medium.jpg"
											class="img-responsive" alt="Example blog post alt" />
										</a>
									</div>
								</div>
								<div class="col-md-8">
									<h2>
										<a href="post.htmls">Fashion now</a>
									</h2>
									<div class="clearfix">
										<p class="author-category">
											By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
										</p>
										<p class="date-comments">
											<a href="blog-post.html"><i class="fa fa-calendar-o"></i>
												June 20, 2013</a> <a href="blog-post.html"><i
												class="fa fa-comment-o"></i> 8 Comments</a>
										</p>
									</div>
									<p class="intro">Pellentesque habitant morbi tristique
										senectus et netus et malesuada fames ac turpis egestas.
										Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor
										sit amet, ante. Donec eu libero sit amet quam egestas semper.
										Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
									<p class="read-more">
										<a href="blog-post.html" class="btn btn-template-main">Continue
											reading</a>
									</p>
								</div>
							</div>
						</section>
						<section class="post">
							<div class="row">
								<div class="col-md-4">
									<div class="video">
										<div class="embed-responsive embed-responsive-4by3">
											<iframe class="embed-responsive-item"
												src="//www.youtube.com/embed/upZJpGrppJA"></iframe>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<h2>
										<a href="post.htmls">Post with video</a>
									</h2>
									<div class="clearfix">
										<p class="author-category">
											By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
										</p>
										<p class="date-comments">
											<a href="blog-post.html"><i class="fa fa-calendar-o"></i>
												June 20, 2013</a> <a href="blog-post.html"><i
												class="fa fa-comment-o"></i> 8 Comments</a>
										</p>
									</div>
									<p class="intro">Pellentesque habitant morbi tristique
										senectus et netus et malesuada fames ac turpis egestas.
										Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor
										sit amet, ante. Donec eu libero sit amet quam egestas semper.
										Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
									<p class="read-more">
										<a href="blog-post.html" class="btn btn-template-main">Continue
											reading</a>
									</p>
								</div>
							</div>
						</section>

						<section class="post">
							<div class="row">
								<div class="col-md-4">
									<div class="image">
										<a href="blog-post.html"> <img src="img/blog-medium.jpg"
											class="img-responsive" alt="Example blog post alt" />
										</a>
									</div>
								</div>
								<div class="col-md-8">
									<h2>
										<a href="post.htmls">Fashion now</a>
									</h2>
									<div class="clearfix">
										<p class="author-category">
											By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
										</p>
										<p class="date-comments">
											<a href="blog-post.html"><i class="fa fa-calendar-o"></i>
												June 20, 2013</a> <a href="blog-post.html"><i
												class="fa fa-comment-o"></i> 8 Comments</a>
										</p>
									</div>
									<p class="intro">Pellentesque habitant morbi tristique
										senectus et netus et malesuada fames ac turpis egestas.
										Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor
										sit amet, ante. Donec eu libero sit amet quam egestas semper.
										Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
									<p class="read-more">
										<a href="blog-post.html" class="btn btn-template-main">Continue
											reading</a>
									</p>
								</div>
							</div>
						</section>

						<ul class="pager">
							<li class="previous disabled"><a href="#">&larr; Older</a></li>
							<li class="next"><a href="#">Newer &rarr;</a></li>
						</ul>



					</div>
					<!-- /.col-md-9 -->

					<!-- *** LEFT COLUMN END *** -->
						<!-- *** RIGHT COLUMN ***			 _________________________________________________________ -->
						<div th:replace="fragments/adverts :: adverts">This side menu will be replaced by fragment code</div>
					<!-- *** END OF RIGHT COLUMN ***-->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /#content -->
	<!--*** END OF MAIN ***-->
		<!-- #### JAVASCRIPT FILES ### -->
		<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>
</html>
