<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="headInc">
<!-- This will be replaced by the head fragment -->
</head>
<body>

	<!-- *** RIGHT COLUMN ***______________________________________________________ -->
	<div class="col-md-3" th:fragment="adverts">

		<!-- *** MENUS AND WIDGETS ***
 _________________________________________________________ -->
		<div class="panel panel-default sidebar-menu">

			<div class="panel-heading">
				<h3 class="panel-title">Thank You</h3>
			</div>

			<div class="panel-body text-widget">
				<p>Thank you for visiting our website. We looking forward to having you here again</p>

			</div>
		</div>

		<div class="panel panel-default sidebar-menu">

			<div class="panel-heading">
				<h3 class="panel-title">Search</h3>
			</div>

			<div class="panel-body">
				<form role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search posts..." /> <span
							class="input-group-btn">

							<button type="submit" class="btn btn-template-main">
								<i class="fa fa-search"></i>
							</button>

						</span>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-default sidebar-menu">

			<div class="panel-heading">
				<h3 class="panel-title">Latest Posts</h3>
			</div>

			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="blog.html">Finance</a></li>
					<li class="active"><a href="blog.html">Information Technology</a></li>
					<li><a href="blog.html">ICT4D</a></li>
					<li><a href="blog.html">CV Writing</a></li>
				</ul>
			</div>
		</div>

		<div class="panel sidebar-menu">
			<div class="panel-heading">
				<h3 class="panel-title">Tags</h3>
			</div>

			<div class="panel-body">
				<ul class="tag-cloud">
					<li><a href="#"><i class="fa fa-tags"></i> Finance</a></li>
					<li><a href="#"><i class="fa fa-tags"></i> IT industry</a></li>
					<li><a href="#"><i class="fa fa-tags"></i> CV Writing</a></li>
					<li><a href="#"><i class="fa fa-tags"></i> Software Development</a></li>
					<li><a href="#"><i class="fa fa-tags"></i> Jobless</a></li>
				</ul>
			</div>
		</div>
		<!-- *** MENUS AND FILTERS END *** -->

	</div>
	<!-- /.col-md-3 -->
	<!-- *** RIGHT COLUMN END *** -->
</body>
</html>