<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="headInc">
<!-- This will be replaced by the head fragment -->
</head>
<body>
	<!-- start of footer  -->
	<footer id="footer" th:fragment="footer">
		<div class="container">
			<div class="col-md-6 col-sm-6">
				<h4>About us</h4>

				<p>Changing the world through technology ...</p>

				<hr />
				<a th:href="@{/about-financial-tech-journal}"
					class="btn btn-small btn-template-main">Go to about us page</a>
				<hr class="hidden-md hidden-lg hidden-sm" />

			</div>

			<div class="col-md-6 col-sm-6 pull-right">

				<h4>Contact</h4>

				<p>
					<strong>FinTech Journal</strong> <br />Gaborone, Botswana <br />Cape
					Town, South Africa
				</p>

				<a th:href="@{/contact-us}" class="btn btn-small btn-template-main">Go
					to contact page</a>

				<hr class="hidden-md hidden-lg hidden-sm" />

			</div>
			
		</div>
		<!-- /.container -->
	</footer>
	<!-- end of footer -->
</body>
</html>