<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="headInc">
</head>
<body>
	<!-- *** GET IT ***_______________________________________________________ -->
		<div id="get-it" th:fragment="invite">
			<div class="container">
				<div class="col-md-8 col-sm-12">
					<h3>Do you want a professionally written CV</h3>
				</div>
				<div class="col-md-4 col-sm-12">
					<a href="#" class="btn btn-template-transparent-primary">Apply Now</a>
				</div>
			</div>
		</div>
		<!-- *** GET IT END *** -->
</body>
</html>