<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="robots" content="all,follow" />
<meta name="googlebot" content="index,follow,snippet,archive" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<title>The financial and technology journal</title>
<!--/*/ <th:block th:include="fragments/headInc :: headInc"></th:block> /*/-->
</head>
<body>
	<div id="all">
		<!-- *** START OF HEADER ***  -->
		<header th:replace="fragments/header :: header"> This section
			of the header will be replaced by a fragment header </header>
		<!-- *** END OF HEADER ***  -->

		<!-- START OF LOGIN MODAL  -->
		<div th:replace="fragments/modal :: modal"></div>
		<!-- END OF LOGIN MODAL -->

		<!--*** START OF POST LIST ***-->
		<div th:replace="posts/list :: list">This section of the code
			will be replaced by the list fragment</div>
		<!--*** END OF POST LIST ***-->

		<!-- *** START OF INVITE **** -->
		<div th:replace="fragments/invite :: invite">This section will
			be replaced by a fragment</div>
		<!-- *** END OF INVITE **** -->

		<!-- *** FOOTER ***-->
		<footer id="footer" th:replace="fragments/footer :: footer">
			This will be replaced by footer fragment </footer>
		<!-- *** FOOTER END *** -->

		<!-- *** COPYRIGHT ***____________________________ -->
		<div id="copyright" th:replace="fragments/signature :: sign">
			This will be replaced by signature fragment</div>
		<!-- *** COPYRIGHT END *** -->

	</div>
	<!-- /#all -->

	<!-- #### JAVASCRIPT FILES ### -->
	<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>

</html>