<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="headInc">
<!-- This will be replaced by the head fragment -->
</head>
<body>
	<!-- *** RIGHT COLUMN ***
			 _________________________________________________________ -->

	<div class="col-md-2" th:fragment="admin-adverts">
		<!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
		<div class="panel panel-default sidebar-menu">

			<div class="panel-heading">
				<h3 class="panel-title">Welcome Admin: <span class="lead" th:text="${user.firstName}"></span></h3>
			</div>

			<div class="panel-body">
					<p></p>
				<ul class="nav nav-pills nav-stacked">
					<li
						th:classappend="${#httpServletRequest.getRequestURI() == '/admin/post/create' ? 'active':''}">
						<a href="/admin/post/create" th:href="@{/admin/post/create}"><i
							class="fa fa-star"></i> New Post</a>
					</li>
					<li
						th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user/create' ? 'active':''}">
						<a href="/admin/user/create" th:href="@{/admin/user/create}"><i
							class="fa fa-user"></i> New User</a>
					</li>
					<li
						th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user/roles' ? 'active':''}">
						<a href="/admin/user/roles" th:href="@{/admin/user/roles}"><i
							class="fa fa-profile"></i> Assign Roles</a>
					</li>
					<li
						th:classappend="${#httpServletRequest.getRequestURI() == '/admin/posts-by-author/' ? 'active':''}">
						<a  th:href="@{/admin/posts-by-author/} + ${user.userId}" ><i class="fa fa-list"></i>
							My Posts</a>
					</li>
					<li 
						th:classappend="${#httpServletRequest.getRequestURI() == '/admin/posts/drafts' ? 'active':''}">
						<a th:href="@{/admin/posts/drafts/} + ${user.userId}"><i class="fa fa-heart"></i>My Drafts</a>
					</li>
					<li><a th:href="@{/admin/account/} + ${user.userId}"><i class="fa fa-user"></i>
							My account</a></li>
					<li>
						<form sec:authorize="isAuthenticated()" id="frmlogout"
							th:action="@{/logout}" method="post" class="form-inline">
							<a href="javascript:{}"
								onclick="document.getElementById('frmlogout').submit(); return false;"><i
								class="fa fa-sign-out"></i>Logout</a>
						</form>

					</li>
				</ul>
			</div>

		</div>
		<!-- /.col-md-3 -->

		<!-- *** CUSTOMER MENU END *** -->
	</div>

	<!-- *** RIGHT COLUMN END *** -->
</body>
</html>